body {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding-left: 240px;
    background-image: url('https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

header {
    background-color: #3E3F29;
    padding: 15px;
    text-align: center;
    color: white;
}

.sidebar {
    width: 200px;
    background: #E2DDB4;
    color: rgb(0, 0, 0);
    height: 100vh;
    padding: 15px;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    background-image: url('https://images.unsplash.com/photo-1585643522733-2a269ce6f804?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #F1F0E4;
}

.image-box {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

.special-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid #eee;
}

